@charset "UTF-8";
/* common */
/* line 8, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
html, body {
  font-size: 13px;
  font-weight: 100;
  font-family: Monaco;
  margin: 0;
  min-height: 600px;
}

/* line 16, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
html {
  background-color: #f5f5f5;
}

/* line 23, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.bg {
  width: 100%;
  background-image: url("TOP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 30, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.wrap {
  color: #636B71;
  height: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  /* RGBを10進数(0～255)で指定、不透明度を0～1.0で指定 */
}

/* line 37, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
header {
  margin: 0 auto;
  width: 980px;
  height: 88px;
}

/* line 43, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
header ul {
  float: left;
  width: 200px;
  height: 20px;
  margin: 0;
}

/* line 50, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
header li {
  display: block;
  float: left;
  list-style: none;
  font-size: 14px;
  width: 80px;
  text-align: center;
  height: 100%;
}

/* line 60, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
header li a {
  text-decoration: none;
  color: #636B71;
}

/* line 65, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
header li a:hover {
  color: #a9a9a9;
  text-decoration: none;
}

/* line 70, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.top_list {
  width: 240px;
  padding: 0;
  height: 25px;
}

/* line 76, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.home {
  margin: 0;
  padding-left: 15px;
  width: 50px;
  height: 100%;
  line-height: 25px;
  float: left;
}

/* line 85, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.top_list li a img {
  margin-top: 3px;
  float: left;
}

/* line 90, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.Logo {
  float: left;
  text-align: center;
  padding-left: 120px;
  width: 260px;
}

/* line 97, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.Logo a {
  color: gray;
  text-decoration: none;
}

/* line 102, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.Logo h1 {
  font-weight: 500;
  margin: 0;
  font-family: cursive;
}

/* line 108, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.Logo p {
  font-family: cursive;
}

/* line 112, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.R_header {
  float: right;
  height: 100%;
  width: 180px;
  font-size: 14px;
  color: gray;
}

/* line 120, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.serch_text {
  text-align: center;
  margin: 0;
  width: 140px;
  height: 25px;
  float: left;
  line-height: 25px;
}

/* line 129, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.search_button {
  margin-top: 2px;
  width: 20px;
  height: 20px;
}

/* line 135, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.title {
  margin: 0;
  color: purple;
  font-family: Helvetica;
}

/* line 141, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.content {
  width: 100%;
  float: left;
}

/* line 146, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.show_case {
  background: rgba(197, 255, 238, 0.4);
  /* RGBを10進数(0～255)で指定、不透明度を0～1.0で指定 */
  width: 1200px;
  min-height: 650px;
  margin: 0 auto;
}

/* line 153, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.main {
  width: 100%;
  min-width: 980px;
  margin: 0 auto;
  height: 100%;
}

/* line 160, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 70px;
  clear: both;
  width: 100%;
}

/* line 169, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
footer a {
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;
  text-decoration: none;
}

/* line 176, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
footer a:hover {
  color: #a9a9a9;
  text-decoration: none;
}

/* line 181, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.CopyRight {
  text-align: center;
  margin: 0;
  height: 50px;
  font-size: 12px;
  line-height: 50px;
}

/*index*/
/* line 193, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.log_info {
  text-align: right;
}

/* line 197, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.log_info p.user_info {
  text-align: center;
  margin: 0;
  float: right;
  width: 199px;
  height: 18px;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  margin-right: 1px;
}

/* line 208, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.log_info p.info_bar {
  margin: 0;
  height: 18px;
  width: 879px;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  margin-right: 1px;
}

/* line 217, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.log_info a {
  text-decoration: none;
  color: #000000;
  text-align: center;
  float: right;
  width: 120px;
  height: 18px;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
}

/* line 228, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.log_info a:hover {
  background-color: rgba(255, 243, 224, 0.7);
}

/* line 232, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.pagination {
  text-align: right;
  width: 1200px;
  margin: 0 auto;
}

/* line 238, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.pagination a {
  text-decoration: none;
  color: #000000;
}

/* line 243, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.pagination a:hover {
  color: gray;
}

/* line 247, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.table {
  width: 100%;
  min-height: 618px;
  overflow-x: scroll;
}

/* line 253, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
table {
  width: 980px;
  table-layout: fixed;
  margin: 0 auto;
  border-collapse: collapse;
}

/* line 260, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
th {
  background-color: rgba(255, 255, 255, 0.6);
}

/* line 264, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.right {
  text-align: right;
}

/* line 268, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.left {
  text-align: left;
}

/* line 272, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.column_title {
  padding: 0 10px;
}

/* line 276, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.controll_column_title {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
}

/* line 283, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.plural_delete {
  width: 35px;
  height: 35px;
}

/* line 288, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.del_check {
  margin: 0 auto;
}

/* line 292, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.controll_column_title a {
  display: block;
}

/* line 296, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.controll_column_title a:hover {
  background-color: rgba(255, 243, 224, 0.5);
}

/* line 300, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.controll_column_title_top {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  height: 40px;
}

/* line 308, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.controll_column_title_top a {
  display: block;
  height: 40px;
}

/* line 313, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.controll_column_title_top a:hover {
  background-color: rgba(255, 243, 224, 0.5);
}

/* line 317, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.link {
  text-decoration: none;
  color: #636B71;
  display: block;
  width: 100%;
  height: 54px;
  line-height: 54px;
}

/* line 326, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.link:hover {
  background-color: rgba(255, 243, 224, 0.5);
}

/* line 330, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.even {
  height: 55px;
}

/* line 334, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.odd {
  height: 55px;
  background-color: rgba(255, 255, 255, 0.6);
}

/* line 339, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.center {
  text-align: center;
}

/* line 343, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.no_item_type {
  color: red;
  font-size: 24px;
  height: 600px;
  line-height: 600px;
  margin: 0;
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

/*show*/
/* line 357, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.notice {
  color: red;
  text-align: center;
  background-color: rgba(229, 229, 219, 0.8);
  margin: 0;
}

/* line 364, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.show_item {
  float: left;
  border: 1px solid transparent;
  border-collapse: separate;
  border-spacing: 10px;
  width: 400px;
}

/* line 372, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.show_item td {
  vertical-align: middle;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}

/* line 378, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.sub_imgs td {
  width: 25%;
}

/* line 382, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.marks {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  width: 85px;
  margin: 0;
  position: absolute;
}

/* line 390, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.item_info {
  margin: 12px;
  float: left;
  background-color: rgba(255, 255, 255, 0.6);
  width: 275px;
  height: 511px;
}

/* line 398, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.item_info h1 {
  font-size: 16px;
  text-align: center;
}

/* line 403, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.label {
  background-color: rgba(220, 220, 220, 0.3);
  /* RGBを10進数(0～255)で指定、不透明度を0～1.0で指定 */
  text-align: center;
}

/* line 408, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.top_label {
  margin-top: 0;
  background-color: rgba(220, 220, 220, 0.3);
  /* RGBを10進数(0～255)で指定、不透明度を0～1.0で指定 */
  text-align: center;
}

/* line 414, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.info {
  height: 15px;
  text-align: center;
}

/* line 419, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.description {
  overflow: hidden;
  word-wrap: break-word;
  margin: 0 auto;
  line-height: 20px;
  display: block;
  width: 246px;
  height: 80px;
}

/* line 429, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.description textarea {
  width: 244px;
  height: 78px;
  padding: 0;
  margin: 0;
}

/* line 436, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.controll {
  margin-top: 10px;
  margin-left: 120px;
  text-align: left;
  clear: both;
}

/* line 443, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.button {
  text-align: right;
  margin-top: 10px;
  clear: both;
}

/* line 449, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.create_button {
  width: 150px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  border-radius: 7px;
  /* CSS3草案 */
  -webkit-border-radius: 7px;
  /* Safari,Google Chrome用 */
  -moz-border-radius: 7px;
  /* Firefox用 */
}

/* line 460, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.create_button:hover {
  background-color: rgba(255, 243, 224, 0.7);
}

/* line 464, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.update_button {
  width: 150px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  border-radius: 7px;
  /* CSS3草案 */
  -webkit-border-radius: 7px;
  /* Safari,Google Chrome用 */
  -moz-border-radius: 7px;
  /* Firefox用 */
}

/* line 475, /Users/ken/Documents/Aptana3/vintage/app/assets/stylesheets/item_types.css.scss */
.update_button:hover {
  background-color: rgba(255, 243, 224, 0.7);
}
