<footer>
	<%= link_to_unless_current "HOME", root_path %>
	<%= link_to "ABOUT US", about_us_path, class: :"other_links" %>
	<%= link_to "PRIVACY NOTICE", about_us_path, class: :"other_links" %>
	<p class="CopyRight">ALL RIGHTS RESERVED (C) 2015 VINTAGE VINTAGE</p>
</footer>