// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* common */
html,body{
  font-size: 13px;
  font-weight: 100;
  font-family: Monaco;
  margin: 0;
  min-height: 600px;
}

html{
  background-color: #f5f5f5;
}

body{
}

.bg{
  width: 100%;
  background-image: url("TOP.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap{
  color: #636B71;
  height: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.4); /* RGBを10進数(0～255)で指定、不透明度を0～1.0で指定 */
}

header{
  margin: 0 auto;
  width: 980px;
  height: 50px;
}

header ul{
  float: left;
  width: 200px;
  height: 20px;
  margin: 0;
}

header li{
  display: block;
  float: left;
  list-style: none;
  font-size: 14px;
  width: 80px;
  text-align: center;
  height: 100%;
}

header li a{
  text-decoration: none;
  color: #636B71;
}

header li a:hover{
  color: #a9a9a9;
  text-decoration: none;
}

.Logo{
  float: left;
  text-align: center;
  padding-left: 120px;
  width: 260px;
}

.Logo a{
  color: gray;
  text-decoration: none;
}

.Logo h1{
  font-weight: 500;
  margin: 0;
  font-family: cursive;
}

.Logo p{
  font-family: cursive;
}

.R_header{
  float: right;
  height: 100%;
  width: 180px;
  font-size: 14px;
  color: gray;
}

.R_header p{
  text-align: center;
  margin: 0;
  width: 180px;
  float: left;
}

.title{
  margin: 0;
  color: purple;
  font-family: Helvetica;
}

.content{
  width: 100%;
  float: left;
}

.show_case{
  background: rgba(197, 255, 238, 0.4); /* RGBを10進数(0～255)で指定、不透明度を0～1.0で指定 */
  width: 1200px;
  min-height: 650px;
  margin: 0 auto;
}

.main{
  width: 100%;
  min-width: 980px;
  margin: 0 auto;
  height: 100%;
}

footer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 70px;
  clear: both;
  width: 100%;
}

footer a{
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;
  text-decoration: none;
}

footer a:hover{
  color: #a9a9a9;
  text-decoration: none;
}

.CopyRight{
  text-align: center;
  margin: 0;
  height: 50px;
  font-size: 12px;
  line-height: 50px;
}




/*index*/
.log_info{
  text-align: right;
}

.log_info p.user_info{
  text-align: center;
  margin: 0;
  float: right;
  width: 199px;
  height: 18px;
  display: block;
  background-color: rgba(255,255,255,0.7);
  margin-right: 1px;
}

.log_info p.info_bar{
  margin: 0;
  height: 18px;
  width: 879px;
  background-color: rgba(255,255,255,0.7);
  display: block;
  margin-right: 1px;
}

.log_info a{
  text-decoration: none;
  color: #000000;
  text-align: center;
  float: right;
  width: 120px;
  height: 18px;
  display: block;
  background-color: rgba(255,255,255,0.7);
}

.log_info a:hover{
  background-color: rgba(255,243,224,0.7);
}

.pagination{
  text-align: right;
  width: 1200px;
  margin: 0 auto;
}

.pagination a{
  text-decoration: none;
  color: #000000;
}

.pagination a:hover{
  color: gray;
}

.table{
  width: 100%;
  min-height: 618px;
  overflow-x: scroll;
}

table{
  width: 980px;
  table-layout: fixed;
  margin: 0 auto;
  border-collapse: collapse;
}

th{
  background-color: rgba(255,255,255,0.6);
}

.right{
  text-align: right;
}

.left{
  text-align: left;
}

.column_title{
  padding: 0 10px;
}

.controll_column_title{
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
}

.plural_delete{
  width: 35px;
  height: 35px  ;
}

.del_check{
  margin: 0 auto;
}

.controll_column_title a{
  display: block;
}

.controll_column_title a:hover{
  background-color: rgba(255,243,224,0.5);
}

.controll_column_title_top{
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  height: 40px;
}

.controll_column_title_top a{
  display: block;
  background-color: rgba(228,217,196,0.8);
  height: 40px;
}

.controll_column_title_top a:hover{
  background-color: rgba(255,243,224,0.5);
}

.link{
  text-decoration: none;
  color: #636B71;
  display: block;
  width: 100%;
  height: 54px;
  line-height: 54px;
}

.link:hover{
  background-color: rgba(255,243,224,0.5);
}

.even{
  height: 55px;
}

.odd{
  height: 55px;
  background-color: rgba(255,255,255,0.6);
}

.center{
  text-align: center;
}

.no_administrator{
  color: red;
  font-size: 24px;
  height: 600px;
  line-height: 600px;
  margin: 0;
  display: block;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
}



/*show*/
.notice{
  color: red;
  text-align: center;
  background-color: rgba(228,217,196,0.8);
  margin: 0;
}

.show_item{
  float: left;
  border: 1px solid transparent;
  border-collapse:separate;
  border-spacing: 10px;
  width: 400px;
}

.show_item td{
  vertical-align:middle;
  text-align: center;
  background-color: rgba(255,255,255,0.6);
}

.sub_imgs td{
  width: 25%;
}

.marks{
  color: rgba(0,0,0,0.5);
  font-size: 10px;
  width: 85px;
  margin: 0;
  position: absolute;
}

.item_info{
  margin: 12px;
  float: left;
  background-color: rgba(255,255,255,0.6);
  width: 275px;
  height: 511px;
}

.item_info h1{
  font-size: 16px;
  text-align: center;
}

.label{
  background-color: rgba(220,220,220,0.3); /* RGBを10進数(0～255)で指定、不透明度を0～1.0で指定 */
  text-align: center;
}

.top_label{
  margin-top: 0;
  background-color: rgba(220,220,220,0.3); /* RGBを10進数(0～255)で指定、不透明度を0～1.0で指定 */
  text-align: center;
}

.info{
  height: 15px;
  text-align: center;
}

.description{
  overflow: hidden;
  word-wrap: break-word;
  margin: 0 auto;
  line-height: 20px;
  display: block;
  width: 246px;
  height: 80px;
}

.description textarea{
  width: 244px;
  height: 78px;
  padding: 0;
  margin: 0;
}

.controll{
  margin-top: 10px;
  margin-left: 120px;
  text-align: left;
  clear: both;
}

.button{
  text-align: right;
  margin-top: 295px;
  clear: both;
}

.create_button{
  width: 150px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  border-radius: 7px;        /* CSS3草案 */  
  -webkit-border-radius: 7px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 7px;   /* Firefox用 */  
}

.create_button:hover{
  background-color: rgba(255,243,224,0.7);
}

.update_button{
  width: 150px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  border-radius: 7px;        /* CSS3草案 */  
  -webkit-border-radius: 7px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 7px;   /* Firefox用 */  
}

.update_button:hover{
  background-color: rgba(255,243,224,0.7);
}